<div>
  <label for="filterName">Filter by Name:</label>
  <input id="filterName" [(ngModel)]="filterName" (input)="filterCustomers()">
  <label for="filterAmount">Filter by Transaction Amount:</label>
  <input id="filterAmount" type="number" [(ngModel)]="filterAmount" (input)="filterCustomers()">
</div>

<ul>
  <li *ngFor="let customer of filteredCustomers">
    {{customer.name}}
    <ul>
      <li *ngFor="let transaction of getTransactionsForCustomer(customer.id)">
        {{transaction.date}}: {{transaction.amount}}
      </li>
    </ul>
  </li>
</ul>

<div>
  <label for="customerSelect">Select Customer:</label>
  <select id="customerSelect" [(ngModel)]="selectedCustomerId" (change)="updateGraph()">
    <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
  </select>
</div>

<canvas id="transactionChart"></canvas>
